body {
    font-family: 'Mingzat', sans-serif;
}

.first-div {
    height: 650px;
    width: 100%;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
}

#h1-1 {
    padding-top: 10%;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}

.d1p {
    font-size: medium;
    color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

}

.link-button {

    color: antiquewhite;
    font-weight: 700;
    background-color: rgb(247, 9, 9);
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: left;
}

.c1 {
    padding-top: 40px;
    text-align: center;
}

.d2p {
    text-align: center;
    margin-bottom: 0;
}

.div2-2 {
    display: flex;
    align-items: center;
    justify-content: center;



}

.div2-2>div {
    height: 75px;
    width: 75px;
    margin: 10px;
    padding: 10px;
}

.a {
    background-color: rgb(219, 216, 212);
    border: 1px;
    border-radius: 5px;

    text-align: center;

}


.tk200 {
    background-color: rgb(241, 187, 187);
    border: 1px solid rgb(255, 94, 0);
    border-radius: 5px;
    text-align: center;
}

.b {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input[type="number"] {
    width: 550px;
    height: 50px;
    text-align: center;
    font-size: large;
    border: none;
    border-bottom: 2px solid red;

}

input[type="submit"] {
    margin-left: 220px;
    width: 100px;
    height: 40px;
    color: azure;
    background-color: orangered;
    border: none;
    border-radius: 5px;

}

.donate-plan {
    display: block;
    text-align: center;
    width: 80%;
    margin: 10%;
}

.parent-donate-plan {
    text-align: left;
    display: flex;
    padding: 10px;
    margin: 10 px;
}

.aa {
    background-color: rgb(136, 155, 170);
    width: 400px;
    height: 400 px;
    padding: 20px;
    margin: 20px;
}

.ab {
    background-color: rgb(236, 163, 212);
    width: 400px;
    height: 400 px;
    padding: 20px;
    margin: 20px;
}

.ac {
    background-color: rgb(236, 245, 153);
    width: 400px;
    height: 400 px;
    padding: 20px;
    margin: 20px;
}

.c {
    display: flex;
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

}

.c-left {
    width: 50%;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 0px;
    text-align: left;

}

.e {

    text-align: center;
}

.e1 {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 149);
    width: 40%;
    height: 150px;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 5%;
    padding-right: 5%;

}



.email {
    text-indent: 10px;
    background-color: rgb(201, 216, 216);
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.subscribe {
    color: white;
    text-decoration: double;
    background-color: rgb(255, 115, 0);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-right: -100px;
}